
<main class="container">
    <h1>Listado de pokemon</h1>

    <div class="card-container">
        <!-- Tarjeta Pokemon -->
        <div *ngFor="let pokemon of pokemons"  class="card">
            <img src="{{getImageByPokemon(pokemon)}}" alt="{{pokemon.name}}">
            <div class="card-content">
                <h3>{{capitalizeFirstLetter(pokemon.name)}}</h3>
                <div class="pokemon-types">
                    <!-- Mostrar los tipos como imágenes -->
                    <img *ngFor="let typeImage of pokemonTypesMap.get(pokemon.name)" [src]="typeImage" alt="Tipo de Pokémon" class="tipo">
                </div>
                <a href="{{getUrlDetailPokemon(pokemon)}}">Ver detalles</a>
            </div>
        </div>
    </div>
</main>

<div class="pagination">
    <button (click)="prev()" [disabled] = "prevPage == null">Anterior</button>
    <button (click)="next()" [disabled] = "nextPage == null">Siguiente</button>
</div>