<main id="container">
    <h2>Sobre el Proyecto</h2>
    <p>Desarrollado por Pablo Conde Mellado</p>
    <p>Este proyecto esta basado en el consumo de la api PokeApi en donde extraeremos los datos de los pókemon.</p>
    
    <h3>Feedback sobre la Solución</h3>
    <div class="feedback">
        <h4>Pros:</h4>
        <ul>
            <li>Una vez acostumbrado es muy fácil de crear páginas.</li>
            <li>Conexión entre el servicio y los modelos.</li>
            <li>El código está bien estructurado y es fácilmente mantenible.</li>
        </ul>

        <h4>Contras:</h4>
        <ul>
            <li>Al principio el framework abruma y no sabes por donde empezar.</li>
            <li>El tener que poner las rutas a mano, teniendo que estar muy atento.</li>
            <li>Poco intuitivo para los nuevos usuarios del framework.</li>
        </ul>

        <h4>Elementos que más costaron:</h4>
        <p>Al principio el entender como funcionaba el framework y como utilizarlo fue de las cosas que más me costaron, junto al hecho de consumir la api y saber a que ruta acceder para obtener los datos que quería.</p>

        <h4>Elementos que menos costaron:</h4>
        <p>Creacion de los hmtl y css.</p>

    </div>
</main>