<div class="container">
    <div class="footer_links row">
        <div class="column col-md-3 col-6">
            <h4>Generaciones</h4>
            <ul>
                <li><a href="#">1º Generacion</a></li>
                <li><a href="#">2º Generacion</a></li>
                <li><a href="#">3º Generacion</a></li>
                <li><a href="#">4º Generacion</a></li>

            </ul>
        </div>
        <div class="column col-md-3 col-6">
            <h4>Usuario</h4>
            <ul>
                <li><a href="feedback" class="feedback">FeedBack</a></li>
                <li><a href="#">Pablo Conde Mellado</a></li>
                <li><a href="https://github.com/pabloCondeMellado">Github: pabloCondeMellado</a></li>
                <li><a href="#">Correo: pconmel&#64;g.educaand.es</a></li>
                
            </ul>
        </div>
        <div class="column col-md-3 col-6">
            <h4>Legal</h4>
            <ul>
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de cookies</a></li>
                <li><a href="#">© Derechos reservados</a></li>
            </ul>
        </div>
        <div class="column col-md-3 col-6">
            <h4>Redes sociales</h4>
            <ul>
                <li><a href="#" target="_blank"><span>Facebook</span></a></li>
                <li><a href="#" target="_blank"><span>Twitter</span></a></li>
                <li><a href="#" target="_blank"><span>Linkedin</span></a></li>
                <li><a href="#" target="_blank"><span>Instagram</span></a></li>
            </ul>
        </div>
    </div>
</div>
